* {
  box-sizing: border-box;
  font-family: 'Ubuntu Light', 'Century Gothic', sans-serif;
  margin: 0;
  padding: 0;
  /* color: #393939; */
  color: green;
  background-color: #FFF;
}

#header { 
  margin: 0;
  color: green;
  text-align: center; 
  width: 100%;
  position: relative;   
}

#Debits { 
  position: relative;
  width: 100%; 
  margin-top: 25px; 
  clear: both;
  overflow: hidden;
}

.innerText {
  margin-top: 0;
  float: left; 
}

.inputs { 
  margin: 5px; 
}

.buttons { 
  height: 25px;
  width: 75px;
  font-size: 12px;
  margin: 5px;
  /* float: left; */
}

.forms { 
  display: inline;
}

#Credits { 
  position: relative; 
  width: 100%; 
  margin-top: 25px; 
  clear: both;
  overflow: hidden;
}

.appended {
  position: relative; 
  float: left;
  padding: 10px;
  margin: 5px;  
  width: auto; 
  height: auto; 
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .2); 
}

.innerbox {
  padding: 10px;
  width:100%;
  margin-top: 25px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .2); 
}

.propsText { 
  position: relative;
  margin-left: 5px;
}